* {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 Body {
     background-image: url("../public/budget.jpg");
    }
.home-container{
    height: 100vh;
    margin: 0 auto;
    }
    
    .home{
    padding: auto;
    text-align: center;
}
.home form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    padding: 30px 50px;
}

.NavBar {
    display: flex;
    justify-content:space-between;
    background-color: rgb(7, 138, 7);
   padding: 30px;
}

.New-Transaction{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    /* padding: 30px 50px; */
}

.transaction{
    display: flex;
    justify-content: space-evenly;
    color: rgb(4, 60, 4);
}

.Show{
    text-align: center;
    padding: 30px;
    margin: 15px;
    color:rgb(1, 44, 1);
}
.showNavigation{
    display: flex;
    text-align: left;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
}
